@import url("https://use.typekit.net/tsi2hks.css");

body {
	margin: 0px;
	background-image: url(afbeeldingen/backgrounds/achtergrond_geschiedenis.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.header {
	position: fixed;
	width: 100%;
	height: 80px;
	background-color: white;
	box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.215);
	z-index: 2;
}

.header_grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 100%;
	align-items: center;
}

.taal {
	grid-column: 4/5;
	font-family: azo-sans-web, sans-serif;
	font-weight: 700;
	font-size: 10pt;
}

.taal a {
	text-decoration: none;
	color: #88c0bd;
}

.nav {
	grid-column: 7/13;
	color: black;
	font-family: "roc-grotesk-condensed", sans-serif;
	font-weight: 600;
	font-size: 18pt;
	font-style: normal;
	font-style: normal;

	float: right;
}

.nav a {
	padding: auto 0 auto 0;
	margin: 20px;
	text-decoration: none;
	color: #377150;
	line-height: 35px;

}

.logo img {
	grid-column: 2/3;
	width: 70%;
	position: center;
}

.logo {
	grid-column: 2/3;
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 400px 180px 2500px 180px 400px;
}

.water {
	grid-column: 2/12;
	grid-row: 2/3;
	display: flex;
	position: relative;
}

.title {
	position: absolute;
	grid-column: 2/5;
	grid-row: 2/3;
	font-weight: 700;
	font-size: 16pt;
	line-height: 20px;
	left: 12%;
	top: 30%;
}

.kader {
	grid-column: 2/12;
	grid-row: 3/4;
	background-color: white;
	display: grid;
	/*grid-template-columns: repeat(12, 1fr);*/
}

.water2 {
	grid-column: 6/12;
	grid-row: 4/5;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	position: relative;
}


p.light {
	color: #88c0bd;
	font-size: 20px;


}


p {
	color: black;
	font-family: azo-sans-web, sans-serif;
	font-weight: 500;
	font-style: normal;

}

h1 {
	color: #377150;
	font-family: "roc-grotesk-condensed", sans-serif;
	font-weight: 600;
	font-style: normal;

}

h2 {
	color: #88c0bd;
	font-family: "roc-grotesk-condensed", sans-serif;
	font-weight: 600;
	font-style: normal;
}

h3 {
	color: #377150;
	font-family: "roc-grotesk-condensed", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 34px;
}

.taalbtn {
	color: #88C0BD;
	grid-column: 4/5;
	font-family: "azo-sans-web", sans-serif;
	font-weight: 700;
	font-size: 10pt;
	border: none;
	background-color: white;
}

.taal {
	position: relative;
	display: inline-block;
}

.dropdown {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown a {
	color: #377150;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {
	background-color: #f1f1f1
}

.taal:hover .dropdown {
	display: block;
}

.geschiedenis {
    text-align: center;

}

.geschiedenis video {
    grid-column: 3/10;
    width: 100%;

}
.geschiedenis h1{
    padding-top: 50px;
}

.geschiedenis a{
    background-color: #377150;
    color: #f1f1f1;
    font-family: "roc-grotesk-condensed", sans-serif;
	font-weight: 100;
	font-style: normal;
    border-radius: 30px;
    padding: 20px;
    text-decoration: none;
    margin-top: 40px;
}