@import url("https://use.typekit.net/kgu7hbz.css");

body {
	margin: 0px;
	background-image: url(afbeeldingen/backgrounds/achtergrond_geschiedenis.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.header {
	position: fixed;
	width: 100%;
	height: 80px;
	background-color: white;
	box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.215);
	z-index: 2;
}

.header_grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 100%;
	align-items: center;
}

.taal {
	grid-column: 4/5;
	font-family: azo-sans-web, sans-serif;
	font-weight: 700;
	font-size: 10pt;
}

.taal a {
	text-decoration: none;
	color: #88c0bd;
}

.nav {
	grid-column: 7/13;
	color: black;
	font-family: "roc-grotesk-condensed", sans-serif;
	font-weight: 600;
	font-size: 18pt;
	font-style: normal;
	font-style: normal;

	float: right;
}

.nav a {
	padding: auto 0 auto 0;
	margin: 20px;
	text-decoration: none;
	color: #377150;
	line-height: 35px;
}

.logo img {
	grid-column: 2/3;
	width: 70%;
	position: center;
}

.logo {
	grid-column: 2/3;
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 400px 180px 650px 180px 180px 180px 180px 180px 180px 180px;
}

.water {
	grid-column: 2/12;
	grid-row: 2/3;
	display: flex;
	position: relative;
}

.title {
	position: absolute;
	grid-column: 2/5;
	grid-row: 2/3;
	font-weight: 700;
	font-size: 16pt;
	line-height: 20px;
	left: 12%;
	top: 30%;
}

.kader {
	grid-column: 2/12;
	grid-row: 3/11;
	background-color: white;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: auto;
}

.water2 {
	grid-column: 6/12;
	grid-row: 11/12;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	position: relative;
}

h1 {
	color: #377150;
	font-family: "roc-grotesk-condensed", sans-serif;
	font-weight: 600;
	font-style: normal;
}

h2 {
	color: #88c0bd;
	font-family: "roc-grotesk-condensed", sans-serif;
	font-weight: 600;
	font-style: normal;
}

h3 {
	color: #377150;
	font-family: "roc-grotesk-condensed", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 34px;
}

.pijl1 {
	grid-row: 3/4;
	grid-column: 2/3;
	width: 30%;
	z-index: 2;
}

.pijl2 {
	grid-row: 3/4;
	grid-column: 7/8;
	width: 30%;
	z-index: 2;
	transform: rotate(180deg);
}

.debat {
	grid-column: 2/12;
	grid-row: 11/12;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.debat p {
	grid-column: 8/10;
	margin-left: 10px;
	display: flex;
	align-items: center;
}

.debat img {
	border-radius: 22px;
}

.images {
	grid-column: 2/12;
	grid-row: 1/ 12;
}

p {
	color: black;
	font-family: azo-sans-web, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 12pt;
}

.info {
	grid-column: 2/9;
	grid-row: 6/7;
}

.renders {
	grid-column: 8/12;
	grid-row: 2/11;
}

.open {
	grid-column: 1/12;
	grid-row: 7/11;
}

.info2 {
	grid-column: 3/9;
	grid-row: 10/11;
}

.open h1 {
	text-align: center;
}

.imageO {
	width: 100%;
}

#slider {
	width: 600px;
	grid-column: 2/12;
}

#slider input[type="radio"] {
	display: none;
}

#slider label {
	cursor: pointer;
	text-decoration: none;
}

#slides {
	position: relative;
	z-index: 1;
}

#overflow {
	width: 100%;
	overflow: hidden;
}

#slide1:checked ~ #slides .inner {
	margin-left: 0;
}

#slide2:checked ~ #slides .inner {
	margin-left: -100%;
}

#slide3:checked ~ #slides .inner {
	margin-left: -200%;
}

#slide4:checked ~ #slides .inner {
	margin-left: -300%;
}

#slides .inner {
	transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
	width: 400%;
	line-height: 0;
	height: 300px;
}

#slides .slide {
	width: 25%;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	color: #fff;
}

#slides .slide_1 {
	background-image: url(afbeeldingen/render\ 1.png);
	background-size: 100%;
	border-radius: 22px;
}

#slides .slide_2 {
	background-image: url(afbeeldingen/render\ 2.png);
	background-size: 100%;
	border-radius: 22px;
}

#slides .slide_3 {
	background-image: url(afbeeldingen/render\ 3.png);
	background-size: 100%;
	border-radius: 22px;
}

#slides .slide_4 {
	background-image: url(afbeeldingen/render\ 4.png);
	background-size: 100%;
	border-radius: 22px;
}

#controls {
	margin: -180px 0 0 0;
	width: 100%;
	height: 50px;
	z-index: 3;
	position: relative;
}

#controls label {
	transition: opacity 0.2s ease-out;
	display: none;
	width: 50px;
	height: 50px;
	opacity: 0.4;
}

#controls label:hover {
	opacity: 1;
}

#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
	background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
	float: right;

	z-index: 4;
	margin: 0 5px 0 0;
	display: block;
}

#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1) {
	background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
	float: left;

	margin: 0 0 0 5px;
	display: block;
}

#bullets {
	margin: 150px 0 0;
	text-align: center;
}

#bullets label {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background: #ccc;
	margin: 0 10px;
}

#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
	background: #444;
}

@media screen and (max-width: 900px) {
	#slide1:checked ~ #controls label:nth-child(2),
	#slide2:checked ~ #controls label:nth-child(3),
	#slide3:checked ~ #controls label:nth-child(4),
	#slide4:checked ~ #controls label:nth-child(1),
	#slide1:checked ~ #controls label:nth-last-child(2),
	#slide2:checked ~ #controls label:nth-last-child(3),
	#slide3:checked ~ #controls label:nth-last-child(4),
	#slide4:checked ~ #controls label:nth-last-child(1) {
		margin: 0;
	}

	#slides {
		max-width: calc(100% - 140px);
		margin: 0 auto;
	}
}

.taalbtn {
	color: #88c0bd;
	grid-column: 4/5;
	font-family: "azo-sans-web", sans-serif;
	font-weight: 700;
	font-size: 10pt;
	border: none;
	background-color: white;
}

.taal {
	position: relative;
	display: inline-block;
}

.dropdown {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown a {
	color: #377150;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {
	background-color: #f1f1f1;
}

.taal:hover .dropdown {
	display: block;
}

.taal:hover .taalbtn {
	background-color: white;
}
