body {
	margin: 0px;
	background-image: url(afbeeldingen/backgrounds/achtergrond_home.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.header {
	position: fixed;
	width: 100%;
	height: 80px;
	background-color: white;
	box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.215);
	z-index: 999;
}

.header_grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 100%;
	align-items: center;
}

.taal {
	grid-column: 4/5;
	font-family: azo-sans-web, sans-serif;
	font-weight: 700;
	font-size: 10pt;
}

.taal a {
	text-decoration: none;
	color: #88c0bd;
}

.nav {
	grid-column: 7/13;
	color: black;
	font-family: "roc-grotesk-condensed", sans-serif;
	font-weight: 600;
	font-size: 18pt;
	font-style: normal;
	font-style: normal;

	float: right;
}

.nav a {
	padding: auto 0 auto 0;
	margin: 25px;
	text-decoration: none;
	color: #377150;
	line-height: 35px;
}

.logo img {
	grid-column: 2/3;
	width: 70%;
	position: center;
}

.logo {
	grid-column: 2/3;
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 400px 180px auto 180px 100px 400px;
}

.water {
	grid-column: 2/12;
	grid-row: 2/3;
	position: relative;
	display: flex;
	align-self: flex-end;
	width: 90%;
}

.title {
	position: absolute;
	grid-column: 2/5;
	grid-row: 2/3;
	font-weight: 700;
	font-size: 16pt;
	line-height: 20px;
	left: 12%;
	top: 30%;

	z-index: 10;
}

.kader {
	grid-column: 2/12;
	grid-row: 3/4;
	display: grid;
	background-color: white;
	position: relative;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: auto;
}

.wie {
	color: #377150;
	grid-column: 2/11;
	grid-row: 5/6;
	display: flex;
	margin-right: 50px;
	flex-direction: row;
	margin-bottom: 50px;
	margin-top: 15px;
}

.wie img {
	margin-left: 40px;
	width: 90%;
	border-radius: 22px;
}

.wie p {
	padding-right: -10px;
}

.amis {
	display: flex;
	text-align: center;
	grid-column: 1/11;
	grid-row: 3/4;
	justify-content: center;
}

.amispic {
	grid-column: 1/11;
	grid-row: 4/5;
	display: flex;
	justify-content: center;
}

.amispic img {
	width: 70%;
}

.water2 {
	grid-column: 5/12;
	grid-row: 4/5;
	position: relative;
	display: flex;
	align-self: flex-start;
	justify-content: flex-end;
	width: 100%;
}

.title2 {
	position: absolute;
	grid-column: 2/5;
	grid-row: 2/3;
	font-weight: 700;
	font-size: 16pt;
	line-height: 20px;
	left: 40%;
	margin-top: -20px;
}

img.water2 {
	transform: rotate(180deg);
}

p {
	color: black;
	font-family: azo-sans-web, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 12pt;
}

span {
	color: #88c0bd;
}

h1 {
	color: #377150;
	font-family: "roc-grotesk-condensed", sans-serif;
	font-weight: 600;
	font-style: normal;
	z-index: 100;
}

h2 {
	color: #88c0bd;
	font-family: "roc-grotesk-condensed", sans-serif;
	font-weight: 600;
	font-style: normal;
}

h3 {
	color: #377150;
	font-family: "roc-grotesk-condensed", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 34px;
}

.taalbtn {
	color: #88c0bd;
	grid-column: 4/5;
	font-family: "azo-sans-web", sans-serif;
	font-weight: 700;
	font-size: 10pt;
	border: none;
	background-color: white;
}

.taalbtn a {
	font-family: "azo-sans-web", sans-serif;
	font-weight: 700;
	font-size: 10pt;

}

.taal {
	position: relative;
	display: inline-block;
}

.dropdown {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown a {
	color: #377150;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-family: "azo-sans-web", sans-serif;
	font-weight: 700;
	font-size: 10pt;

}

.dropdown a:hover {
	background-color: #f1f1f1;
}

.taal:hover .dropdown {
	display: block;
}

#slider {
	padding-top: 25px;
	width: 100%;
	text-align: center;
	grid-column: 2/10;
}

#slider input[type="radio"] {
	display: none;
}

#slider label {
	cursor: pointer;
	text-decoration: none;

}

#slides {
	padding: 10px;
	background: #fff;
	position: relative;
	z-index: 1;
}

#overflow {
	width: 100%;
	overflow: hidden;
	border-radius: 22px;
}

#slide1:checked~#slides .inner {
	margin-left: 0;

}

#slide2:checked~#slides .inner {
	margin-left: -100%;
}

#slide3:checked~#slides .inner {
	margin-left: -200%;
}

#slide4:checked~#slides .inner {
	margin-left: -300%;
}


#slides .inner {
	transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
	width: 400%;
	line-height: 0;
	height: 400px;

}

#slides .slide {
	width: 25%;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	color: #fff;

}

#slides .slide_1 {
	background-image: url(afbeeldingen/feest3.jpg);
	background-size: 100%;
	border-radius: 22px;
}

#slides .slide_2 {
	background-image: url(afbeeldingen/familie2.jpg);
	background-size: 100%;
	border-radius: 22px;
}

#slides .slide_3 {
	background-image: url(afbeeldingen/feest.jpg);
	background-size: 100%;
	border-radius: 22px;
}

#slides .slide_4 {
	background-image: url(afbeeldingen/familie.jpg);
	background-size: 100%;
	border-radius: 22px;
}

#controls {
	margin: -180px 0 0 0;
	width: 100%;
	height: 50px;
	z-index: 3;
	position: relative;
}

#controls label {
	transition: opacity 0.2s ease-out;
	display: none;
	width: 50px;
	height: 50px;
	opacity: 0.7;
}

#controls label:hover {
	opacity: 1;
}

#slide1:checked~#controls label:nth-child(2),
#slide2:checked~#controls label:nth-child(3),
#slide3:checked~#controls label:nth-child(4),
#slide4:checked~#controls label:nth-child(1) {
	background: url(afbeeldingen/svg/arrowsliderR.svg) no-repeat;
	float: right;
	margin: -40px 0px 0 0;
	display: block;
}

#slide1:checked~#controls label:nth-last-child(2),
#slide2:checked~#controls label:nth-last-child(3),
#slide3:checked~#controls label:nth-last-child(4),
#slide4:checked~#controls label:nth-last-child(1) {
	background: url(afbeeldingen/svg/arrowsliderL.svg) no-repeat;
	float: left;
	margin: -40px 0 0 20px;
	display: block;
}

#bullets {
	margin: 150px 0 0;
	text-align: center;
}

#bullets label {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background: #ccc;
	margin: 0 10px;
}

#slide1:checked~#bullets label:nth-child(1),
#slide2:checked~#bullets label:nth-child(2),
#slide3:checked~#bullets label:nth-child(3),
#slide4:checked~#bullets label:nth-child(4) {
	background: #444;
}

.slidepic {
	width: 100%;
	border-radius: 22px;
}

@media screen and (max-width: 900px) {

	#slide1:checked~#controls label:nth-child(2),
	#slide2:checked~#controls label:nth-child(3),
	#slide3:checked~#controls label:nth-child(4),
	#slide4:checked~#controls label:nth-child(1),
	#slide1:checked~#controls label:nth-last-child(2),
	#slide2:checked~#controls label:nth-last-child(3),
	#slide3:checked~#controls label:nth-last-child(4),
	#slide4:checked~#controls label:nth-last-child(1) {
		margin: 0;
	}

	#slides {

		margin: 0 auto;
	}
}

@media all and (max-width: 1100px) {
	.wie {

		flex-direction: column;
		text-align: center;
		margin-left: -35px;
	}

	.wietext {
		padding-left: -20px;

	}

	.header {
		height: 55px;
	}

	.grid {
		grid-template-rows: 250px 180px auto 180px 400px;
	}

	.nav {
		display: none;
	}

	#slider {
		margin-top: 50px;

	}
}

@media all and (max-width: 950px) {




	.header {
		height: 55px;
	}

	.grid {
		grid-template-rows: 150px 180px auto 180px 400px;
	}

	#slide1:checked~#controls label:nth-child(2),
	#slide2:checked~#controls label:nth-child(3),
	#slide3:checked~#controls label:nth-child(4),
	#slide4:checked~#controls label:nth-child(1) {
		background: url(afbeeldingen/svg/arrowsliderR.svg) no-repeat;
		float: right;
		margin: 10px 0px 0 0;
		display: block;
	}

	#slide1:checked~#controls label:nth-last-child(2),
	#slide2:checked~#controls label:nth-last-child(3),
	#slide3:checked~#controls label:nth-last-child(4),
	#slide4:checked~#controls label:nth-last-child(1) {
		background: url(afbeeldingen/svg/arrowsliderL.svg) no-repeat;
		float: left;
		margin: 10px 0 0 20px;
		display: block;
	}



	.wie p {
		font-size: 12px;
		padding-left: 50px;
	}

	.title {
		font-size: 12pt;
	}

	.title2 {
		font-size: 12pt;
		margin-top: -50px;
	}

	#slider {
		grid-column: 2/10;
		margin-top: 50px;
	}

	#slides .inner {
		height: 300px;

	}


}

@media all and (max-width: 700px) {
	.title2 {
		margin-top: -50px;
	}

	.title h1 {
		font-size: 20pt;
	}

	.title h2 {
		font-size: 16pt;
	}

	.title2 h1 {
		font-size: 20pt;
	}

	.title2 h2 {
		font-size: 16pt;
	}

	#slide1:checked~#controls label:nth-child(2),
	#slide2:checked~#controls label:nth-child(3),
	#slide3:checked~#controls label:nth-child(4),
	#slide4:checked~#controls label:nth-child(1) {
		background: url(afbeeldingen/svg/arrowsliderR.svg) no-repeat;
		float: right;
		margin: 40px 0px 0 0;
		display: block;
	}

	#slide1:checked~#controls label:nth-last-child(2),
	#slide2:checked~#controls label:nth-last-child(3),
	#slide3:checked~#controls label:nth-last-child(4),
	#slide4:checked~#controls label:nth-last-child(1) {
		background: url(afbeeldingen/svg/arrowsliderL.svg) no-repeat;
		float: left;
		margin: 40px 0 0 20px;
		display: block;
	}

	.header {
		position: fixed;
		width: 100%;
		height: 50px;
		background-color: white;
		box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.215);
		z-index: 999;
	}

	.header_grid {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: 100%;
		align-items: center;
	}

	.taal {
		grid-column: 5/6;
		font-family: azo-sans-web, sans-serif;
		font-weight: 700;
		font-size: 10pt;
	}

	.taal a {
		text-decoration: none;
		color: #88c0bd;
	}

	.nav {
		grid-column: 7/13;
		color: black;
		font-family: "roc-grotesk-condensed", sans-serif;
		font-weight: 600;
		font-size: 18pt;
		font-style: normal;
		font-style: normal;
		float: right;
	}

	.nav a {
		padding: auto 0 auto 0;
		margin: 40px;
		text-decoration: none;
		color: #377150;
		line-height: 35px;
	}

	.logo img {
		max-width: 50%;
		position: center;
	}

	.logo {
		grid-column: 2/4;
	}

	.grid {
		grid-template-rows: 100px 180px auto 180px 400px;
	}



	#slides .inner {
		height: 200px;
	}
}

@media all and (max-width: 500px) {




	.grid {
		grid-template-rows: 50px 180px auto 180px 400px;
	}



	.wie p {
		font-size: 12px;

	}

	.title {
		font-size: 10pt;
		margin-left: -10px;
	}

	.title2 h1 {
		line-height: 30px;
		font-size: 14pt;
	}

	.title2 h2 {
		margin-top: -20px;
		font-size: 10pt;
	}

	#slider {
		grid-column: 2/10;
	}

	#slides .inner {
		height: 200px;
	}

	#slide1:checked~#controls label:nth-child(2),
	#slide2:checked~#controls label:nth-child(3),
	#slide3:checked~#controls label:nth-child(4),
	#slide4:checked~#controls label:nth-child(1) {
		background: url(afbeeldingen/svg/arrowsliderR.svg) no-repeat;
		float: right;
		margin: 50px 0px 0 0;
		display: block;
	}

	#slide1:checked~#controls label:nth-last-child(2),
	#slide2:checked~#controls label:nth-last-child(3),
	#slide3:checked~#controls label:nth-last-child(4),
	#slide4:checked~#controls label:nth-last-child(1) {
		background: url(afbeeldingen/svg/arrowsliderL.svg) no-repeat;
		float: left;
		margin: 50px 0 0 20px;
		display: block;
	}
}

/* img transition */

.section {
	height: 100%;
	grid-column: 1/13;
	grid-row: 6/7;
}

.reveal {
	position: relative;
	opacity: 0;
}

.reveal.active {
	opacity: 1;
}

.active.fade-left {
	animation: fade-left 1s ease-in;
}

@keyframes fade-left {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

.container.reveal.fade-left.active {
	height: 1000px;
}

.trans img {
	max-width: 100%;
}




@media all and (max-width: 500px) {

	.wietext h3 {
		margin-left: 50px;
	}

	h3 {
		font-size: 16pt;
	}

	#slides .inner {
		height: 140px;
	}

	#slide1:checked~#controls label:nth-child(2),
	#slide2:checked~#controls label:nth-child(3),
	#slide3:checked~#controls label:nth-child(4),
	#slide4:checked~#controls label:nth-child(1) {
		background: url(afbeeldingen/svg/arrowsliderR.svg) no-repeat;
		float: right;
		margin: 80px -10px 0 0;
		display: block;
		background-size: 40%;
	}

	#slide1:checked~#controls label:nth-last-child(2),
	#slide2:checked~#controls label:nth-last-child(3),
	#slide3:checked~#controls label:nth-last-child(4),
	#slide4:checked~#controls label:nth-last-child(1) {
		background: url(afbeeldingen/svg/arrowsliderL.svg) no-repeat;
		float: left;
		margin: 80px 0 0 20px;
		display: block;
		background-size: 40%;
	}

}

@media all and (max-width: 320px) {

	.logo img {

		width: 80%;
		position: center;
	}

	.logo {
		margin-top: 8px;
		grid-column: 2/5;
	}


	#slides .inner {
		height: 100px;
	}

	h3 {
		font-size: 14pt;
	}

	.wietext h3 {
		margin-left: 50px;
	}

	.title {
		margin-left: 5px;

	}

	.title h1 {
		font-size: 14pt;
		margin-left: -10px;
		line-height: 10px;

	}

	.title h2 {
		font-size: 12pt;
		margin-left: -10px;
		line-height: 16px;
	}

	.title2 {
		margin-left: -20px;
	}

	.title2 h1 {
		line-height: 30px;
		font-size: 14pt;
	}

	.title2 h2 {
		margin-top: -20px;
		font-size: 10pt;
		line-height: 16px;
	}

	#slides .inner {
		height: 110px;
	}

	#slide1:checked~#controls label:nth-child(2),
	#slide2:checked~#controls label:nth-child(3),
	#slide3:checked~#controls label:nth-child(4),
	#slide4:checked~#controls label:nth-child(1) {
		background: url(afbeeldingen/svg/arrowsliderR.svg) no-repeat;
		float: right;
		margin: 100px -10px 0 0;
		display: block;
		background-size: 40%;
	}

	#slide1:checked~#controls label:nth-last-child(2),
	#slide2:checked~#controls label:nth-last-child(3),
	#slide3:checked~#controls label:nth-last-child(4),
	#slide4:checked~#controls label:nth-last-child(1) {
		background: url(afbeeldingen/svg/arrowsliderL.svg) no-repeat;
		float: left;
		margin: 100px 0 0 20px;
		display: block;
		background-size: 40%;
	}

}